<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Регистрация</title>
</head>
<body>
    <h1>Регистрация</h1>
    {% with messages = get_flashed_messages(with_categories=true) %}
        {% if messages %}
            {% for category, message in messages %}
                <div class="alert alert-{{ category }}">{{ message }}</div>
            {% endfor %}
        {% endif %}
    {% endwith %}
    <form method="POST">
        {{ form.hidden_tag() }}
        <p>{{ form.first_name.label }} <br> {{ form.first_name }}</p>
        <p>{{ form.last_name.label }} <br> {{ form.last_name }}</p>
        <p>{{ form.email.label }} <br> {{ form.email }}</p>
        <p>{{ form.password.label }} <br> {{ form.password }}</p>
        <p>{{ form.confirm_password.label }} <br> {{ form.confirm_password }}</p>
        <p>{{ form.submit() }}</p>
    </form>
</body>
</html>
